* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #F2EBDE;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  padding: 10px 4% 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #005B75;
  display: flex;
  align-items: center;
  z-index: 10;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #fff;
}

h2 {
  font-size: 30px;
  color: #005B75;
}

a {
  text-decoration: none;
  color: #00556D;
  display:block;
}

nav {
  margin: 0 0 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

/* サイドバーのリスト装飾 */
ol.sample1{
  counter-reset:list;
  list-style-type:none;
  font: 14px/1.6 'arial narrow', sans-serif;
  padding:0;
}
ol.sample1 li{
  position:relative;
  padding: 0 0 0 2px;
  margin: 5px 0 0px 0px;
  font-weight: bold;
  font-size:14px;
  line-height: 30px;
  border-bottom: dashed 1px #005B75;
}

/* ボタンの装飾 */
.btn a {
  background: #eee;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 120px;
  max-width: 240px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  z-index:0;
}
.btn a:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: #74a7be;
  transition: .3s;
  left:0;
}
.btn a:hover {
  color: #FFF;
}
.btn a:hover:before {
  width: 100%;
  z-index: -1;
}

/* ボタンの装飾2 */
.btn2 a {
  font-size: 14px;
  background: #B19A7F;
  position: relative;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 110px;
  max-width: 240px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  z-index:0;
}
.btn2 a:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: #8d775e;
  transition: .3s;
  left:0;
}
.btn2 a:hover {
  color: #FFF;
}
.btn2 a:hover:before {
  width: 100%;
  z-index: -1;
}

/* コンテンツ */
article {
  display:flex;/*サイドバーとメインコンテンツを横並びにする指定をした*/
}

.side {
  position: relative;
  background:rgba(255,255,255,0.75);
  top: 85px;
  left: 10%;
  width:11%;
  height:95%;
  text-align:center;
}

.content {
  position: relative;
  top: 85px;
  left: 10%;
  width:55%;
  height:500px;
  text-align:center;
  overflow-y: scroll;
  padding:0px;
  margin-left:20px;/*サイドバーとメインコンテンツの間に隙間をあけた*/

}

.comment {
  position: relative;
  background:rgba(255,255,255,0.75);
  top: 85px;
  left: 10%;
  width:15%;
  height:95%;
  text-align:center;
  margin-left:20px;/*サイドバーとメインコンテンツの間に隙間をあけた*/
}

/* サイドバーなしの時のボックス */
.box {
  top: -30px;
  background:rgba(255,255,255,0.75);
  position: relative;
  width: 100%;
  text-align:left;
  padding: 25px;
  margin: 0 auto;
}

.box2 {
  background:rgba(255,255,255,0.75);
  position: relative;
  width: 100%;
  height: 300px;
  text-align:left;
  padding: 25px;
  margin: 0 auto;
  overflow-y: scroll;
}

/* コメントの文章 */
.co{
  background:#b19a7f54;
  position: relative;
  width: 100%;
  text-align:left;
  padding: 2.5px;
  margin: 1px auto;
}

/* Table */
table{
  border-collapse:  collapse;
  width: 100%;
  text-align: left;
}
th, td{
  border:1px solid #000000;
  padding: 10px 20px;
}

/* テキストボックス */
.cp_iptxt {
  position: relative;
  width: 100%;
  margin:0px auto;
}
.cp_iptxt input[type='text'] {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #aaaaaa;
  border: 1px solid #005B75;
  border-radius: 4px;
}
.ef input[type='text']:focus {
  border: 1px solid #005B75;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(0, 37, 79, 0.5);
}

.cp_iptxt input[type='search'] {
  width: 80%;
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #aaaaaa;
  border: 1px solid #005B75;
  border-radius: 4px;
}
.ef input[type='search']:focus {
  border: 1px solid #005B75;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(0, 37, 79, 0.5);
}

/* submitボタン */
.submit {
  display: flex;
}
.button {
  background: #B19A7F;
  position: relative;
  display:inline-block;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  max-width: 240px;
  width: 110px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  z-index:0;
  border: none;
}
.button::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: #8d775e;
  transition: .3s;
  left:0;
}

.button:hover {
  color: #FFF;
}

.button:hover:before{
  width: 100%;
  z-index: -1;
}

/* 検索ボタン */
.search_btn {
  background: #F2EBDE;
  position: relative;
  display:inline-block;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  max-width: 240px;
  width: 75px;
  padding: 10px 5px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  z-index:0;
  border: none;
}
.search_btn::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: #8d775e;
  transition: .3s;
  left:0;
}

/* コメントボタン */
.comment_btn {
  background: #6599AF;
  position: relative;
  display:inline-block;
  justify-content: space-around;
  align-items: center;
  width: 50px;
  padding: 5px 5px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  z-index:0;
  border: none;
}
.comment_btn::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: #005B75;
  transition: .3s;
  left:0;
}

.comment_btn:hover {
  color: #FFF;
}

.comment_btn:hover:before{
  width: 100%;
  z-index: -1;
}

/* スクロールバー */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #6599AF;
}


::-webkit-scrollbar-track {
  box-shadow:0 0 5px #005B75 inset ;
}

::-webkit-scrollbar-thumb {
  background: #005B75;
}

::-webkit-scrollbar-thumb {
  background: #005B75;
  border: 2px outset #005B75;
}